.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;

  box-sizing: border-box;

  background: rgba(2, 6, 23, 0.85);

  backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(148, 163, 184, 0.12);

  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;

  color: white;

  font-size: 21px;
  font-weight: 700;

  text-decoration: none;

  letter-spacing: 1px;
}

.logo-icon {
  color: #38bdf8;

  font-size: 25px;

  text-shadow:
    0 0 10px rgba(56, 189, 248, 0.7);
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  color: #94a3b8;

  text-decoration: none;

  font-size: 15px;

  transition: 0.25s ease;
}

.nav-link:hover {
  color: #38bdf8;
}

.nav-link.active {
  color: #38bdf8;
}